<ion-item class="child-item" text-wrap detail="false" lines="none">
  <ion-row no-padding align-items-center>
    <ion-col>
      <h4><b>{{ objeto.name }}</b></h4>   
      <p text-lowercase color="medium"><b>Endereço:</b> {{ objeto.endereco }}</p>
      <ion-label>Ingressos: </ion-label>
      <ion-button fill="outline" (click)="buyItem(objeto)">Inteira {{ objeto.inteira }}</ion-button>
      <ion-button fill="outline" (click)="buyItem(objeto)">Meia {{ objeto.meia }}</ion-button>
    </ion-col>
  </ion-row>
</ion-item>
  